USE [master]
GO
/****** Object:  Database [Faktura - test]    Script Date: 1/22/2019 10:24:06 PM ******/
CREATE DATABASE [Faktura - test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Faktura - test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Faktura - test.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Faktura - test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Faktura - test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Faktura - test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Faktura - test]
GO
/****** Object:  Table [dbo].[Faktura]    Script Date: 1/22/2019 10:24:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faktura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[date_created] [date] NOT NULL,
	[total] [float] NOT NULL,
 CONSTRAINT [PK_Faktura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stavka]    Script Date: 1/22/2019 10:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stavka](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[faktura_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[unit_price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[total_cost]  AS ([unit_price]*[quantity]),
 CONSTRAINT [PK_Stavka] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Stavka]    Script Date: 1/22/2019 10:24:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Stavka] ON [dbo].[Stavka]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stavka]  WITH CHECK ADD  CONSTRAINT [FK_Stavka_Faktura] FOREIGN KEY([faktura_id])
REFERENCES [dbo].[Faktura] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stavka] CHECK CONSTRAINT [FK_Stavka_Faktura]
GO
USE [master]
GO
